<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link href="Log_In.css" rel="stylesheet" type="text/css">
		<link href="Flower2Go_Main.css" rel="stylesheet" type="text/css">
    </head>
<body>
    
<img id="adminprofilepic" src="flower.png" width="100px" height="100px"><br><Br>

Username:<br>
JSmith99 <br><br>
    
Name:<br>
John Smith <br><br>
    
Email:<br>
jsmith99@gmail.com <br><br>
    
Password:<br>
**********<br>
    
