<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Control Panel</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    
<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
    
     <style>


      #shoppingCart {
        list-style-type: none;
      }

      #shoppingCart li {
        width: 100%;
      }

      #productTable{
        border: 1px solid black;
        float: left;
        width: 100%;
      }

      #productTable input {
        width: 60px;
      }
    </style>
</head>
    


<body>
    
    <br></br><br></br>

    <div id = "HeaderDiv">
    <span id="ControlPanelTitle">Admin Control Panel</span>
    <img onclick="location.href = 'profile.html';" id="ProfileButton" src="ASSETS/ProfileIconCircle.png" width="40px" height="40px">
        <img onclick="location.href = '.';" id="BackArrow" src="ASSETS/BackArrowWhite.png" width="25px" height="32px">
    </div>

<body>

    <div id="content">

      <div id="shoppingCartContainer">

        <table id="productTable">

          <thead>
            <tr>
              <th>Title</th> 
              <th>Description</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Sku</th>    
              <!--<th>Number Available</th> 
              <th>Add</th> -->
                <tr>
                <td><input type="text"  id="title" class="ItemInput"/></td>
                <td><input type="text"  id="desc" class="ItemInput"/></td>
                <td><input type="text"  id="qty" class="ItemInput"/></td>
                <td><input type="text"  id="price" class="ItemInput"/></td>
                <td><input type="text"  id="sku" class="ItemInput"/></td>
               
                <!--<td><input type="text" value="Number Available" /></td> -->
                </tr>
            </tr>
          </thead>
          <tbody id="productslist">
            <!-- THIS SECTION WILL BE REPLACED BY SERVER GENERATED ROWS -->


            <!-- THIS SECTION WILL BE REPLACED BY SERVER GENERATED ROWS -->
          </tbody>
        </table>
        <input type="button" value="Add Items" id="add"/>
        <input type="button" value="View Items Available" id="view" style="display:none"/>

        <br></br>
      </div>
    </div>
    
    <form id="formform">
        <br></br>
        <span id= "EditItem">Edit Item</span></br>
      <input id="newtitle" class="simple_large" type="text" placeholder="Title"></input><br>
       <input id="newdesc"class="simple_large" type="text" placeholder="Description"></input><br>
       <input id="newqty"class="simple_large" type="text" placeholder="Quantity"></input><br>
       <input id="newsku"class="simple_large" type="text" placeholder="SKU"></input><br>
       <input id="newprice"class="simple_large" type="text" placeholder="Price"></input><br>
       <button id="updated">Update!</button>
       <button id="delete">Delete This Post</button>
     </form>
 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        
$(document).ready(function() {

    
            Storage.prototype.setObject = function(key, value) {
                this.setItem(key, JSON.stringify(value));
            }

            Storage.prototype.getObject = function(key) {
                var value = this.getItem(key);
                return value && JSON.parse(value);
            }

            $("#add").click(function() {
                console.log(document.getElementById("title").value);
                console.log("Adding New Items.");
                
                 var title = document.getElementById("title").value;
                 var price = document.getElementById("price").value;
                 var qty = document.getElementById("qty").value;
                 var desc = document.getElementById("desc").value;
                 var sku = document.getElementById("sku").value;
                
                
                $.ajax({
                    url: "../controller/AdminShoppingCart.php",
                    type: "POST",
                    dataType: 'html',
                    data: {
                        action: "added",
                        //method: "added",

                            title:title,
                            price:price,
                            qty:qty,
                            desc:desc,
                            sku:sku,
                     
                    },
                    success: function(returnedData) {
                        alert("Items have been added!");
                        console.log("added start response: ", returnedData); 
                       

                        // WEB STORAGE - SESSION STORAGE
                        //var sessionID = returnedData['s_id'];
                        sessionStorage.setObject('autosave', {items: []});


                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
            });
    
    
       //  $("#view").click(function() {
                console.log(document.getElementById("view").value);
                console.log("View All Items.");
                 $.ajax({
                    url: "../controller/AdminShoppingCart.php",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        method: "view",
                    },
                    success:function(resp){
                        //alert("view all");
                        console.log(resp);
                
                      for(var i = 0; i<resp.length; i++){
                          
                        var div = document.createElement("div");
                       
                        //div.style.border = "solid";
                        div.className = "ItemBoxes";
                        div.id = resp[i].id;
                        document.body.appendChild(div);
                        
                        var title = document.createElement("h2");
                        var price = document.createElement("p");
                        var desc = document.createElement("p");
                        var qty = document.createElement("p");
                        var sku = document.createElement("p");
                        
                        title.innerHTML = resp[i].title;
                        price.innerHTML = '<b>Price: </b> $' + resp[i].price;
                        desc.innerHTML = '<b>Description: </b>' + resp[i].description;
                        qty.innerHTML = '<b>Quantity: </b>' + resp[i].quantity;
                        sku.innerHTML = '<b>SKU: </b>' + resp[i].SKU;
                        
                        var edit = document.createElement("button");
                        edit.innerHTML = "Edit This Product";
                        edit.style.zIndex = 10;
                       
                       
                    
                        div.appendChild(title);
                        div.appendChild(price);
                        div.appendChild(desc);
                        div.appendChild(qty);
                        div.appendChild(sku);
                        div.appendChild(edit);  
                        edit.id = resp[i].id;
                          
                          edit.onclick = function(){
                              $("#formform").show();
                              //alert(this.id);
                              var ID = this.id;
                              console.log(ID);
;
                       /*
                            var done = document.createElement("button");
                            done.innerHTML = "Update!";
                            done.style.zIndex = 100;
                              */
                              var div2 = document.createElement("div");
                              div2.style.zIndex = 100;
                              div2.style.position = "absolute";
                              div2.style.backgroundColor = "purple";
                              div2.style.height = "auto";
                              div2.style.float = "left";
                              div2.style.margin = "0 0 20% 20%";
                              //div2.style.height = "500px;";
                              div2.style.width = "500px";
                              div2.style.top = "20%";
                              div2.style.left = "60%";
                              this.appendChild(div2);

                              
                              var update = document.getElementById("updated");
                              update.onclick = function(e){
                                  console.log("clicked!");
                                  
                                  var newtitle = document.getElementById("newtitle").value;
                                  var newdesc = document.getElementById("newdesc").value;
                                  var newqty = document.getElementById("newqty").value;
                                  var newprice = document.getElementById("newprice").value;
                                  var newsku = document.getElementById("newsku").value;
                                  
                                    console.log(newtitle);
                                
                                 $.ajax({
                                    url: "../controller/AdminShoppingCart.php",
                                    type: "POST",
                                    dataType: 'html',
                                    data: {
                                        thing: "update",
                                        newtitle: newtitle,
                                        newdesc: newdesc,
                                        newqty: newqty,
                                        newprice: newprice,
                                        newsku: newsku, 
                                        id: ID,
                                    },
                                    success:function(resp2){
                                        alert("Updated!");
                                        $("#formform").hide();
                                        location.reload();
                                        }
                                 }); 
                        e.preventDefault();
                              }
                              
                        var del = document.getElementById("delete");
                        del.onclick = function(e){
                            $.ajax({
                            url: "../controller/AdminShoppingCart.php",
                                    type: "POST",
                                    dataType: 'html',
                                    data: {
                                        delete: "delete",
                                        id: ID,
                                    },
                                    success:function(resp2){
                                        console.log(resp2);
                                        alert("Item Successfully Deleted!");
                                        $("#formform").hide();
                                        location.reload();
                                    
                                    }
                            
                            });
                            e.preventDefault();
                        }
                              
                              
                              
                              
                               console.log(newtitle);
               
                          }
                              
                      }
                    }
                
            
        
});
//});
});
        
        
    </script>
    

    </body>
</html>
        
        
        
        
      
    