<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Select Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    
<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
    
     <style>


      #shoppingCart {
        list-style-type: none;
      }

      #shoppingCart li {
        width: 100%;
      }

      #productTable{
        border: 1px solid black;
        float: left;
        width: 100%;
      }

      #productTable input {
        width: 60px;
      }
    </style>
</head>
    


<body>
    
    <!--<span id="Welcome">Welcome <b>Arron_Ferguson</b></span>-->
    <br></br><br></br>

    <div id = "HeaderDiv">
    <span id="ControlPanelTitle">Admin Control Panel</span>
    <img onclick="location.href = 'profile.html';" id="ProfileButton" src="ASSETS/ProfileIconCircle.png" width="40px" height="40px">
        <img onclick="location.href = '.';" id="BackArrow" src="ASSETS/BackArrowWhite.png" width="25px" height="32px">
    </div>
<!--    
    <img onclick="location.href = 'shoppingcart.html';" id="ShoppingCartBut" src="ASSETS/ShoppingCartIcon.png" height="40px" width="45px"/>
    <img onclick="location.href = 'adminprofile.html';" id="ProfileBut" src="ASSETS/ProfileIcon.png" height="40px" width="45px"/><br></br>
    
<div class="form">
<button id = "SinglesBut" class = "but">Singles</button></br>
    
    
    
    
<div id= 'SinglesDiv' style="display:none;">
    <div class="imageContainer"> 
        <div class="SBox1">
            <p class="overlay" id="Title1"><b>Red Rose</b></p>
            <h2 id="roseprice">$4.99</h2>
           <!-- <button class="overlay" id="AddToCart">Add to cart</button>
            <img id="Single1" class="pic" src="ASSETS/MockItems/Single1.jpg" height="200px" width="200px"/>
            <button class="BuyNow" id="singlebut">Add to Cart</button>
        </div>
        
        <div class="SBox1">
            <p class="overlay" id="Title2"><b>Blue Rose</b></p>
            <h2 id="bluerose">$6.99</h2>
            <img id="Single2" class="pic" src="ASSETS/MockItems/Single2.jpg" height="200px" width="200px"/>
            <button class="BuyNow" id="singlebut2" >Add to Cart</button>
        </div>
        
        <div class="SBox1">
            <p class="overlay" id="Title3"><b>Daffodil</b></p>
            <h2 id="daff">$2.99</h2>
            <img id="Single3" class="pic" src="ASSETS/MockItems/Single3.jpg" height="200px" width="200px"/>               <button class="BuyNow" id="singlebut3">Add to Cart</button>
        </div>
        
        <br></br>
    </div>
</div>
    
    
    

<button id = "BouquetsBut" class = "but">Bouquets</button></br>
    <div id= 'BouquetsDiv' style="display:none;">
        <span id="BBox1"><img id="Bouquet1" class="pic" src="ASSETS/MockItems/Bouquet1.jpg" height="200px" width="200px"/></span>
        <span id="BBox2"><img id="Bouquet2" class="pic" src="ASSETS/MockItems/Bouquet2.jpg" height="200px" width="200px"/></span>
        <span id="BBox3"><img id="Bouquet3" class="pic" src="ASSETS/MockItems/Bouquet3.jpg" height="200px" width="200px"/></span>
    </div>
<button id = "EventsBut" class = "but">Events</button>
    <div id= 'EventsDiv' style="display:none;"/>
        <span id="EBox1"><img id="Event1" class="pic" src="ASSETS/MockItems/Event1.jpg" height="200px" width="200px"/></span>
        <span id="EBox2"><img id="Event2" class="pic" src="ASSETS/MockItems/Event2.jpg" height="200px" width="200px"/></span>
        <span id="EBox3"><img id="Event3" class="pic" src="ASSETS/MockItems/Event3.jpg" height="200px" width="200px"/></span>
    </div>
</div>  
-->
<body>

    <div id="content">

      <div id="shoppingCartContainer">

        <table id="productTable">

          <thead>
            <tr>
              <th>Title</th> 
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Sku</th>    
              <!--<th>Number Available</th> 
              <th>Add</th> -->
                <tr>
                <td><input type="text"  id="title" class="ItemInput"/></td>
                <td><input type="text"  id="desc" class="ItemInput"/></td>
                <td><input type="text"  id="qty" class="ItemInput"/></td>
                <td><input type="text"  id="price" class="ItemInput"/></td>
                <td><input type="text"  id="sku" class="ItemInput"/></td>
               
                <!--<td><input type="text" value="Number Available" /></td> -->
                </tr>
            </tr>
          </thead>
          <tbody id="productslist">
            <!-- THIS SECTION WILL BE REPLACED BY SERVER GENERATED ROWS -->


            <!-- THIS SECTION WILL BE REPLACED BY SERVER GENERATED ROWS -->
          </tbody>
        </table>
        <input type="button" value="Add Items" id="add"/>
        <input type="button" value="View Items Available" id="view" style="display:none"/>

       <!-- <h2>Cart Summary</h2>
        <ul id="shoppingCart"> -->
          <!--<li data-item-qty="1" data-item-sku="sk-438s3x">Coffee Cup (1) &#160;
            <input type="button" data-remove-button="remove" value="X"/></li>-->
       <!-- </ul>
        <input type="button" value="Check Out" id="checkoutcart"/>
        <span style="display: inline; font-size: 8pt;"></span> -->
        <br></br>
      </div>
    </div>
    
    <form id="formform">
        <br></br>
        <span id= "EditItem">Edit Item</span></br>
      <input id="newtitle" class="simple_large" type="text" placeholder="Title"></input><br>
       <input id="newdesc"class="simple_large" type="text" placeholder="Description"></input><br>
       <input id="newqty"class="simple_large" type="text" placeholder="Quantity"></input><br>
       <input id="newsku"class="simple_large" type="text" placeholder="SKU"></input><br>
       <input id="newprice"class="simple_large" type="text" placeholder="Price"></input><br>
       <button id="updated">Update!</button>
       <button id="delete">Delete This Post</button>
     </form>
 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        
$(document).ready(function() {


            // FOR PUTTING OBJECTS INTO HTML5 WEB STORAGE - ADD METHODS TO THE STORAGE OBJECT
            // http://stackoverflow.com/questions/2010892/storing-objects-in-html5-localstorage
    
    
            Storage.prototype.setObject = function(key, value) {
                this.setItem(key, JSON.stringify(value));
            }

            Storage.prototype.getObject = function(key) {
                var value = this.getItem(key);
                return value && JSON.parse(value);
            }

           /* // LOAD ALL PRODUCTS
            function loadProducts() {
                $.ajax({
                    url: "../controller/products.php",
                    type: "GET",
                    dataType: 'html',
                    success: function(returnedData) {
                        //console.log("cart checkout response: ", returnedData);
                        $("#productslist").html(returnedData);

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
            }

            loadProducts();

            // SESSION STORAGE GET ITEMS IF THEY ALREADY EXIST IN SESSION STORAGE
            function loadShoppingCartItems() {

                var cartData = sessionStorage.getObject('autosave');

                // if nothing added leave function
                if(cartData == null) {
                    return;
                }
                var cartDataItems = cartData['items'];
                var shoppingCartList = $("#shoppingCart");


                for(var i = 0; i < cartDataItems.length; i++) {
                    var item = cartDataItems[i];
                    // sku, qty, date
                    var sku = item['sku'];
                    var qty = item['qty'];
                    var date = item['date'];
                    var price = item['price'];
                    var desc = item['desc'];
                    var qty = item['qty'];
                    var subtotal = parseFloat(Math.round((qty * price) * 100) / 100).toFixed(2);

                    var item = "<li data-item-sku='" + sku + "' data-item-qty='" + qty + "' data-item-date='"
                        + date + "'>" + desc + " " + qty + " x $" + price + " = " + subtotal
                        + " <input type='button' data-remove-button='remove' value='X'/></li>";
                    shoppingCartList.append(item);


                }
                console.log('cart items array, added', cartDataItems);
            }
            loadShoppingCartItems();

            $('#add').on('click', 'input[data-sku-add]', function() {
                //console.log(this.getAttribute("data-sku-add"));
                console.log("you clicked add!");
            // get the sku
                var sku = this.getAttribute("data-sku-add");
                var qty = $("input[data-sku-qty='" + sku + "']").val();
                var price = $("td[data-sku-price='" + sku + "']").text();
                var title = $("td[data-sku-title='" + sku + "']").text();
                var desc = $("td[data-sku-desc='" + sku + "']").text();
               // var subtotal = parseFloat(Math.round((qty * price) * 100) / 100).toFixed(2);
                console.log(desc, "quantity", qty, "price", price);
                
                sku.id = "sku";
                qty.id = "qty";
                price.id = "price";
                desc.id = "desc";
                title.id = "title";
            
                
/*
                var shoppingCartList = $("#shoppingCart");


                // ALTERED FOR WEB STORAGE
                var aDate = new Date();
                var item = "<li data-item-sku='" + sku + "' data-item-qty='" + qty + "' data-item-date='"
                    + aDate.getTime() + "'>" + desc + " " + qty + " x $" + price + " = " + subtotal
                    + " <input type='button' data-remove-button='remove' value='X'/></li>";
                shoppingCartList.append(item);


                // SESSION STORAGE - SAVE SKU AND QTY AS AN OBJECT IN THE
                // ARRAY INSIDE OF THE AUTOSAVE OBJECT
              var cartData = sessionStorage.getObject('autosave');
                if(cartData == null) {
                    return;
                }
                var item = {'sku': sku, 'qty': qty, date: aDate.getTime(), 'desc': desc, 'price': price};
                cartData['items'].push(item);
                // clobber the old value
                sessionStorage.setObject('autosave', cartData);
            });
*/
/*
            // remove items from the cart
            $("#shoppingCart").on("click", "input", function() {
                // https://api.jquery.com/closest/



                // WEB STORAGE REMOVE
                var thisInputSKU = this.parentNode.getAttribute('data-item-sku');
                var thisInputQty = this.parentNode.getAttribute('data-item-qty');
                var thisInputDate = this.parentNode.getAttribute('data-item-date');

                var cartData = sessionStorage.getObject('autosave');
                if(cartData == null) {
                    return;
                }
                var cartDataItems = cartData['items'];
                for(var i = 0; i < cartDataItems.length; i++) {
                    var item = cartDataItems[i];
                    // get the item based on the sku, qty, and date
                    if(item['sku'] == thisInputSKU && item['date'] == thisInputDate) {
                        // remove from web storage
                        cartDataItems.splice(i, 1);

                    }
                }
                cartData['items'] = cartDataItems;
                console.log('cart data stuff', cartData);
                // clobber the old value
                sessionStorage.setObject('autosave', cartData);

                this.closest("li").remove();

            });    */
            
            /////Logging out//////
            
            /*$("#BackArrow").click(function() {
               console.log('logging out');
                            $.ajax({
                            url: "../controller/logout.php",
                            type: "POST",
                            dataType: "html",
                            data: {
                                method: "post",
                                username: document.getElementById("username").value,
                                password: document.getElementById("password").value,
                            },
                            success: function(resp2){
                                alert("You are logged out.");
                                alert(resp2);
                                console.log(resp2, 'log out');
                 
                        }
                  });
                    
                    e.preventDefault();
            }); */
                
            
            $("#add").click(function() {
                console.log(document.getElementById("title").value);
                console.log("Adding New Items.");
                
                 var title = document.getElementById("title").value;
                 var price = document.getElementById("price").value;
                 var qty = document.getElementById("qty").value;
                 var desc = document.getElementById("desc").value;
                 var sku = document.getElementById("sku").value;
                
                
                $.ajax({
                    url: "../controller/AdminShoppingCart.php",
                    type: "POST",
                    dataType: 'html',
                    data: {
                        action: "added",
                        //method: "added",

                            title:title,
                            price:price,
                            qty:qty,
                            desc:desc,
                            sku:sku,
                     
                    },
                    success: function(returnedData) {
                        alert("Items have been added!");
                        console.log("added start response: ", returnedData); 
                       

                        // WEB STORAGE - SESSION STORAGE
                        //var sessionID = returnedData['s_id'];
                        sessionStorage.setObject('autosave', {items: []});


                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
            });
    
    
       //  $("#view").click(function() {
                console.log(document.getElementById("view").value);
                console.log("View All Items.");
                 $.ajax({
                    url: "../controller/AdminShoppingCart.php",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        method: "view",
                    },
                    success:function(resp){
                        //alert("view all");
                        console.log(resp);
                
                      for(var i = 0; i<resp.length; i++){
                          
                        var div = document.createElement("div");
                       
                        //div.style.border = "solid";
                        div.className = "ItemBoxes";
                        div.id = resp[i].id;
                        document.body.appendChild(div);
                        
                        var title = document.createElement("h2");
                        var price = document.createElement("p");
                        var desc = document.createElement("p");
                        var qty = document.createElement("p");
                        var sku = document.createElement("p");
                        
                        title.innerHTML = resp[i].title;
                        price.innerHTML = '<b>Price: </b> $' + resp[i].price;
                        desc.innerHTML = '<b>Description: </b>' + resp[i].description;
                        qty.innerHTML = '<b>Quantity: </b>' + resp[i].quantity;
                        sku.innerHTML = '<b>SKU: </b>' + resp[i].SKU;
                        
                        var edit = document.createElement("button");
                        edit.innerHTML = "Edit This Product";
                        edit.style.zIndex = 10;
                       
                       
                    
                        div.appendChild(title);
                        div.appendChild(price);
                        div.appendChild(desc);
                        div.appendChild(qty);
                        div.appendChild(sku);
                        div.appendChild(edit);  
                        edit.id = resp[i].id;
                          
                          edit.onclick = function(){
                              $("#formform").show();
                              //alert(this.id);
                              var ID = this.id;
                              console.log(ID);
;
                       /*
                            var done = document.createElement("button");
                            done.innerHTML = "Update!";
                            done.style.zIndex = 100;
                              */
                              var div2 = document.createElement("div");
                              div2.style.zIndex = 100;
                              div2.style.position = "absolute";
                              div2.style.backgroundColor = "purple";
                              div2.style.height = "auto";
                              div2.style.float = "left";
                              div2.style.margin = "0 0 20% 20%";
                              //div2.style.height = "500px;";
                              div2.style.width = "500px";
                              div2.style.top = "20%";
                              div2.style.left = "60%";
                              this.appendChild(div2);

                              
                              var update = document.getElementById("updated");
                              update.onclick = function(e){
                                  console.log("clicked!");
                                  
                                  var newtitle = document.getElementById("newtitle").value;
                                  var newdesc = document.getElementById("newdesc").value;
                                  var newqty = document.getElementById("newqty").value;
                                  var newprice = document.getElementById("newprice").value;
                                  var newsku = document.getElementById("newsku").value;
                                  
                                    console.log(newtitle);
                                
                                 $.ajax({
                                    url: "../controller/AdminShoppingCart.php",
                                    type: "POST",
                                    dataType: 'html',
                                    data: {
                                        thing: "update",
                                        newtitle: newtitle,
                                        newdesc: newdesc,
                                        newqty: newqty,
                                        newprice: newprice,
                                        newsku: newsku, 
                                        id: ID,
                                    },
                                    success:function(resp2){
                                        alert("Updated!");
                                        console.log(resp2); 
                                        $("#formform").hide();
                                        }
                                 }); 
                        e.preventDefault();
                              }
                              
                        var del = document.getElementById("delete");
                        del.onclick = function(e){
                            $.ajax({
                            url: "../controller/AdminShoppingCart.php",
                                    type: "POST",
                                    dataType: 'html',
                                    data: {
                                        delete: "delete",
                                        id: ID,
                                    },
                                    success:function(resp2){
                                        console.log(resp2);
                                        alert("Item Successfully Deleted!");
                                        $("#formform").hide();
                                        location.reload();
                                    
                                    }
                            
                            });
                            e.preventDefault();
                        }
                              
                              
                              
                              
                               console.log(newtitle);
               
                          }
                              
                      }
                    }
                
            
        
});
//});
});
        
        
    </script>
    

    </body>
</html>
        
        
        
        
      
    