@charset "UTF-8";
/* CSS Document */
body{
	text-align:center;
	background-color:#f6eef7;
}

button {
	border: none;
}

p {
	font-family:"Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
}

.but {
	background-color:#ad7cb0;
	/*border-radius: 10px;*/
	width: 75%;
	height: 60px;
	margin-bottom: 7px;
	font-family:"Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#ffffff;
}

.loginInputs {
	/*border-radius: 10px;*/
	width: 75%;
	height: 30px;
	font-family:"Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#password {
	margin-bottom: 10px;
}

#SignUp {
		font-family:"Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
}

#SinglesDiv {
	background-color:#44D5F0;
	border-radius: 10px;
	/*width:230px;*/
	height:300px;
	align-content:center;
	width:75%;
	margin:0 auto;
	margin-top:-17px;
	margin-bottom:6px;
}

#BouquetsDiv {
	background-color:#44D5F0;
	border-radius: 10px;
	/*width:230px;*/
	height:300px;
	align-content:center;
	width:75%;
	margin:0 auto;
	margin-top:-17px;
	margin-bottom:6px;
}

#EventsDiv {
	background-color:#44D5F0;
	border-radius: 10px;
	/*width:230px;*/
	height:300px;
	align-content:center;
	width:75%;
	margin:0 auto;
	margin-top:-17px;
	margin-bottom:6px;
}

#SinglesBut {
	margin-top:100px;	
}
