<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Select Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    
<link href="Flower2Go_Main.css" rel="stylesheet" type="text/css">
</head>

<body>
<button id = "Singles">Singles</button></br>
<button id = "Bouquets">Bouquets</button></br>
<button id = "Events">Events</button>

<script>
$(document).ready(function(){
    
   
                        $.ajax({
                            url: "../controller/user.php",
                            type: "POST",
                            dataType: "html",
                            data: {
                                method: "get_user",
                                
                            },
                            success: function(resp){
                                console.log(resp);
                                for(var i = 0; i<resp.length; i++){
                                var h3 = document.createElement("h3");
                                document.body.appendChild(h3);
                                h3.innerHTML = resp[i].password;
                                } 
    
                }
          });
        
    });




</script>






</body>
</html>
