<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Select Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    
<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
    
     <style>


      #shoppingCart {
        list-style-type: none;
      }

      #shoppingCart li {
        width: 100%;
      }

      #productTable{
        border: 1px solid black;
        float: left;
        width: 100%;
      }

      #productTable input {
        width: 60px;
      }
    </style>
</head>
    


<body>
    
    <!--<span id="Welcome">Welcome <b>Arron_Ferguson</b></span><br></br>-->
    <h2>Shopping Cart</h2>
    
<!--    
    <img onclick="location.href = 'shoppingcart.html';" id="ShoppingCartBut" src="ASSETS/ShoppingCartIcon.png" height="40px" width="45px"/>
    <img onclick="location.href = 'adminprofile.html';" id="ProfileBut" src="ASSETS/ProfileIcon.png" height="40px" width="45px"/><br></br>
    
<div class="form">
<button id = "SinglesBut" class = "but">Singles</button></br>
    
    
    
    
<div id= 'SinglesDiv' style="display:none;">
    <div class="imageContainer"> 
        <div class="SBox1">
            <p class="overlay" id="Title1"><b>Red Rose</b></p>
            <h2 id="roseprice">$4.99</h2>
           <!-- <button class="overlay" id="AddToCart">Add to cart</button>
            <img id="Single1" class="pic" src="ASSETS/MockItems/Single1.jpg" height="200px" width="200px"/>
            <button class="BuyNow" id="singlebut">Add to Cart</button>
        </div>
        
        <div class="SBox1">
            <p class="overlay" id="Title2"><b>Blue Rose</b></p>
            <h2 id="bluerose">$6.99</h2>
            <img id="Single2" class="pic" src="ASSETS/MockItems/Single2.jpg" height="200px" width="200px"/>
            <button class="BuyNow" id="singlebut2" >Add to Cart</button>
        </div>
        
        <div class="SBox1">
            <p class="overlay" id="Title3"><b>Daffodil</b></p>
            <h2 id="daff">$2.99</h2>
            <img id="Single3" class="pic" src="ASSETS/MockItems/Single3.jpg" height="200px" width="200px"/>               <button class="BuyNow" id="singlebut3">Add to Cart</button>
        </div>
        
        <br></br>
    </div>
</div>
    
    
    

<button id = "BouquetsBut" class = "but">Bouquets</button></br>
    <div id= 'BouquetsDiv' style="display:none;">
        <span id="BBox1"><img id="Bouquet1" class="pic" src="ASSETS/MockItems/Bouquet1.jpg" height="200px" width="200px"/></span>
        <span id="BBox2"><img id="Bouquet2" class="pic" src="ASSETS/MockItems/Bouquet2.jpg" height="200px" width="200px"/></span>
        <span id="BBox3"><img id="Bouquet3" class="pic" src="ASSETS/MockItems/Bouquet3.jpg" height="200px" width="200px"/></span>
    </div>
<button id = "EventsBut" class = "but">Events</button>
    <div id= 'EventsDiv' style="display:none;"/>
        <span id="EBox1"><img id="Event1" class="pic" src="ASSETS/MockItems/Event1.jpg" height="200px" width="200px"/></span>
        <span id="EBox2"><img id="Event2" class="pic" src="ASSETS/MockItems/Event2.jpg" height="200px" width="200px"/></span>
        <span id="EBox3"><img id="Event3" class="pic" src="ASSETS/MockItems/Event3.jpg" height="200px" width="200px"/></span>
    </div>
</div>  
-->
<body>
    <div id="content">

      <div id="shoppingCartContainer">

        <table id="productTable">

          <thead>
            <tr>
              <th>Title</th>    
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Number Available</th>    
              <th>Add</th>
            </tr>
          </thead>
          <tbody id="productslist">
            <!-- THIS SECTION WILL BE REPLACED BY SERVER GENERATED ROWS -->


            <!-- THIS SECTION WILL BE REPLACED BY SERVER GENERATED ROWS -->
          </tbody>
        </table>


        <input type="button" value="Start Cart" id="startCart"/>
        <input type="button" value="Cancel Cart" id="cancelCart"/>

        <h2 id="CartSummary">Cart Summary</h2>
        <ul id="shoppingCart">
          <!--<li data-item-qty="1" data-item-sku="sk-438s3x">Coffee Cup (1) &#160;
            <input type="button" data-remove-button="remove" value="X"/></li>-->
        </ul>
        <input type="button" value="Check Out" id="checkoutcart"/>
        <br></br>
        <span style="display: inline; font-size: 8pt;"><i>You'll see taxes and other shipping costs during checkout.</i></span>

      </div>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {


            // FOR PUTTING OBJECTS INTO HTML5 WEB STORAGE - ADD METHODS TO THE STORAGE OBJECT
            // http://stackoverflow.com/questions/2010892/storing-objects-in-html5-localstorage
            Storage.prototype.setObject = function(key, value) {
                this.setItem(key, JSON.stringify(value));
            }

            Storage.prototype.getObject = function(key) {
                var value = this.getItem(key);
                return value && JSON.parse(value);
            }

            // LOAD ALL PRODUCTS
            function loadProducts() {
                $.ajax({
                    url: "../controller/products.php",
                    type: "GET",
                    dataType: 'html',
                    success: function(returnedData) {
                        //console.log("cart checkout response: ", returnedData);
                        $("#productslist").html(returnedData);

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
            }

            loadProducts();

            // SESSION STORAGE GET ITEMS IF THEY ALREADY EXIST IN SESSION STORAGE
            function loadShoppingCartItems() {

                var cartData = sessionStorage.getObject('autosave');

                // if nothing added leave function
                if(cartData == null) {
                    return;
                }
                var cartDataItems = cartData['items'];
                var shoppingCartList = $("#shoppingCart");


                for(var i = 0; i < cartDataItems.length; i++) {
                    var item = cartDataItems[i];
                    // sku, qty, date
                    var sku = item['sku'];
                    var qty = item['qty'];
                    var date = item['date'];
                    var price = item['price'];
                    var desc = item['desc'];
                    var qty = item['qty'];
                    var subtotal = parseFloat(Math.round((qty * price) * 100) / 100).toFixed(2);

                    var item = "<li data-item-sku='" + sku + "' data-item-qty='" + qty + "' data-item-date='"
                        + date + "'>" + desc + " " + qty + " x $" + price + " = " + subtotal
                        + " <input type='button' data-remove-button='remove' id='removeBut' value='X'/></li>";
                    shoppingCartList.append(item);


                }
                console.log('cart items array, added', cartDataItems);
            }
            loadShoppingCartItems();

            $('#productslist').on('click', 'input[data-sku-add]', function() {
                $('#CartSummary').css("display", "block");
                //console.log(this.getAttribute("data-sku-add"));

                // get the sku
                var sku = this.getAttribute("data-sku-add");
                var qty = $("input[data-sku-qty='" + sku + "']").val();
                var price = $("td[data-sku-price='" + sku + "']").text();
                var desc = $("td[data-sku-desc='" + sku + "']").text();
                var subtotal = parseFloat(Math.round((qty * price) * 100) / 100).toFixed(2);
                console.log(desc, "quantity", qty, "price", price);

                var shoppingCartList = $("#shoppingCart");


                // ALTERED FOR WEB STORAGE
                var aDate = new Date();
                var item = "<li data-item-sku='" + sku + "' data-item-qty='" + qty + "' data-item-date='"
                    + aDate.getTime() + "'>" + desc + " " + qty + " x $" + price + " = " + subtotal
                    + " <input type='button' data-remove-button='remove' id='removeBut' value='X'/></li>";
                shoppingCartList.append(item);


                // SESSION STORAGE - SAVE SKU AND QTY AS AN OBJECT IN THE
                // ARRAY INSIDE OF THE AUTOSAVE OBJECT
                var cartData = sessionStorage.getObject('autosave');
                if(cartData == null) {
                    return;
                }
                var item = {'sku': sku, 'qty': qty, date: aDate.getTime(), 'desc': desc, 'price': price};
                cartData['items'].push(item);
                // clobber the old value
                sessionStorage.setObject('autosave', cartData);


            });

            // remove items from the cart
            $("#shoppingCart").on("click", "input", function() {
                // https://api.jquery.com/closest/



                // WEB STORAGE REMOVE
                var thisInputSKU = this.parentNode.getAttribute('data-item-sku');
                var thisInputQty = this.parentNode.getAttribute('data-item-qty');
                var thisInputDate = this.parentNode.getAttribute('data-item-date');

                var cartData = sessionStorage.getObject('autosave');
                if(cartData == null) {
                    return;
                }
                var cartDataItems = cartData['items'];
                for(var i = 0; i < cartDataItems.length; i++) {
                    var item = cartDataItems[i];
                    // get the item based on the sku, qty, and date
                    if(item['sku'] == thisInputSKU && item['date'] == thisInputDate) {
                        // remove from web storage
                        cartDataItems.splice(i, 1);

                    }
                }
                cartData['items'] = cartDataItems;
                console.log('cart data stuff', cartData);
                // clobber the old value
                sessionStorage.setObject('autosave', cartData);

                this.closest("li").remove();

            });


            // start the cart
            $("#startCart").click(function() {
                alert("Your cart has been started!")
                console.log("Start cart.");
                $.ajax({
                    url: "../controller/shoppingcart.php",
                    type: "POST",
                    dataType: 'html',
                    data: {action: "startcart"},
                    success: function(returnedData) {
                        console.log("cart start response: ", returnedData); 
                       

                        // WEB STORAGE - SESSION STORAGE
                        //var sessionID = returnedData['s_id'];
                        sessionStorage.setObject('autosave', {items: []});


                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
            });


            // cancel the cart
            $("#cancelCart").click(function() {

                console.log("End cart.");
                $.ajax({
                    url: "../controller/shoppingcart.php",
                    type: "POST",
                    dataType: 'html',
                    data: {action: "cancelcart"},
                    success: function(returnedData) {
                        console.log("cart cancel response: ", returnedData);


                        // SESSION STORAGE - CLEAR THE SESSION
                        sessionStorage.clear();

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
                var shoppingCartList = $("#shoppingCart").html("");
            }); 

            // cancel the cart
            $("#checkoutcart").click(function() {
                
                $('#CartSummary').css("display", "none");

                // retrieve all of the items from the cart:
                var items = $("#shoppingCart li");
                var itemArray = [];
                $.each(items, function(key, value) {

                    var item = {sku: value.getAttribute("data-item-sku"),
                        qty: value.getAttribute("data-item-qty")};
                    itemArray.push(item);
                });
                var itemsAsJSON = JSON.stringify(itemArray);
                console.log("itemsAsJSON", itemsAsJSON);


                console.log("Check out cart with the following items", itemArray);
                $.ajax({
                    url: "../controller/shoppingcart.php",
                    type: "POST",
                    dataType: 'html',
                    data: {action: "checkoutcart", items: itemsAsJSON},
                    success: function(returnedData) {
                        console.log("cart check out response: ", returnedData);
                        alert("Your order has been processed! Thank-you.");
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.statusText, textStatus);
                    }
                });
                var shoppingCartList = $("#shoppingCart").html("");
            });




        });
        /*]]>*/


  /*
    $.ajax({
            url: "../controller/addToCart.php",
            type: "POST",
            dataType: "html",
            data: {
        
        
    });
    
    var single1 = document.getElementById("singlebut");
    single1.onclick = function(){
        $.ajax({
            url: "../controller/addToCart.php",
            type: "POST",
            dataType: "html",
            data: {
                method: "login_user",
                title: document.getElementById("Title1").value,
                price: document.getElementById("")
                SKU:
                img:
            },
            success: function(resp){
    }
        });
    }
    
   /*
                        $.ajax({
                            url: "../controller/exist_user.php",
                            type: "POST",
                            dataType: "html",
                            data: {
                                method: "login_user",
                                
                            },
                            success: function(resp){
                                console.log(resp);
                                var form = document.getElementsByName("form");
                                document.body.appendChild(form);
                                var h3 = document.createElement("h3");
                                form.appendChild(h3);
                                h3.innerHTML = resp.username;
                                console.log(resp.username);
                            
                                } 
    
                    });
    */
            /*$("#ShoppingCartBut").click(function(){
            
            });
    
            $("#ProfileBut").click(function(){
                
            });
    
                    $("#SinglesBut").click(function(){
				    $("#SinglesDiv").toggle(200);
		      });
		
                    $("#BouquetsBut").click(function(){
				    $("#BouquetsDiv").toggle(200);
		      });
		
                    $("#EventsBut").click(function(){
				    $("#EventsDiv").toggle(200);

		      });

});
*/

</script>






</body>
</html>
