<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Select Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    
<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
</head>

<body>
    
<h2>Username</h2><br>
<h5>FirstName <Br> LastName</h5><br>
<span><b>Email address:</b> arronferguson@bcit.ca</span><br>
<span><b></b></span>
    
</body>
    
    <script>
$(document).ready(function(){
    $.ajax({
                            url: "../controller/profile_authorization.php",
                            type: "POST",
                            dataType: "json",
                            data: {
                                method: "post",
                                id:sessionStorage.getItem("id"),
                            },
                            success: function(resp2){
                                alert("heyoOOO");
                                console.log(resp2);
                                var h2 = document.createElement("h2");
                                var name = sessionStorage.getItem("name");
                                console.log(name);
                                console.log(resp2);
                                //h2.innerHTML = name;
                                
                                
                                var h3 = document.createElement("h3");
                                var pass = sessionStorage.getItem("pass");
                                h3.innerHTML = pass;
                                
                                document.body.appendChild(h2);
                                document.body.appendChild(h3);
                                //console.log(username);
                                //alert(resp2);
                                //location.href = "profile.html"
                                //location.href = "Main_Page.html";
                        }
                  });
    
});
    </script>
    
</html>