<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Profile Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    
<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
</head>

<body>
    
<h2 id="welcome"></h2><br>
<h3 id="fname"></h3>
<h3 id="lname"></h3>    
<h3 id="pass"></h3>
<h3 id="email"></h3>

<span><b></b></span>
<br></br>
<button id="but" class="userbuts">Edit Products</button>
<button id="LogOUT" class="userbuts">Log out</button>
    
</body>
    
    <script>
$(document).ready(function(){
    $.ajax({
                            url: "../controller/profile_authorization.php",
                            type: "POST",
                            dataType: "html",
                            data: {
                                method: "post",
                                id:sessionStorage.getItem("user"),
                                id:sessionStorage.getItem("pass"),
                                id:sessionStorage.getItem("fname"),
                                id:sessionStorage.getItem("lname"),
                                id:sessionStorage.getItem("email"),
                            },
                            success: function(resp2){
                                //alert("heyoOOO");
                                console.log(resp2.id);
                                console.log(resp2);
                                console.log(sessionStorage.getItem("user"));
                                console.log(sessionStorage.getItem("pass"));
                                console.log(sessionStorage.getItem("fname"));
                                console.log(sessionStorage.getItem("lname"));
 
                                document.getElementById("welcome").innerHTML = "Welcome " + sessionStorage.getItem("user") + "!";
    
                                document.getElementById("fname").innerHTML = "First name: " + sessionStorage.getItem("fname");         
                                document.getElementById("lname").innerHTML = "Last name: " + sessionStorage.getItem("lname");
                               
                                document.getElementById("pass").innerHTML = "Password: " + sessionStorage.getItem("pass");
                                document.getElementById("email").innerHTML = "Email: " + sessionStorage.getItem("email");
                                
                                /*var but = document.createElement("button");
                                but.id = "butt";
                                but.innerHTML = "Edit Products";
                                
                                document.body.appendChild(but);
                                but.onclick = function(){
                                    location.href = "AdminAdd.html";
                                
                                }*/
                                
                                $("#but").click(function(){
				                    location.href = "AdminAdd.html";
                                });
                                
                                $("#LogOUT").click(function(e){
				                     
                                    $.ajax({
                                    url: "../controller/logout.php",
                                    type: "POST",
                                    dataType: "html",
                                    data: {
                                        method: "post",
                                        
                                    },
                                    success: function(resp2){
                                        alert("You are logged out.");
                                        location.href = "index.php";
                        }
                  });
                    
                    e.preventDefault();

                });
                                
            
                        }
                  });
    
});
    </script>
    
</html>