<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link href="Log_In.css" rel="stylesheet" type="text/css">
		<link href="Flower2Go_Main.css" rel="stylesheet" type="text/css">
    </head>
<body>
    
<img id="logo" src="flower.png" height="100px" width="100px"><br><br>
<button id="shop">SHOP NOW!</button><br><br>

Login as Admin <br>
<input type="text" placeholder="Admin Username" id="username"><br>
<input type="text" placeholder="Admin Password" id="password"><br>
<button id="submit"> Login </button><br><br>
    
OR<br><br>

    <form action="landing.html">
        Create a new administrator profile <a href="usersignup.html">here</a>
    </form>

</body>

<script>
    $(document).ready(function(){
        
        document.getElementById("submit").onclick = function(){
   
                        $.ajax({
                            url: "../controller/user.php",
                            type: "POST",
                            dataType: "json",
                            data: {
                                method: "get_user",
                                username: document.getElementById("username").value,
                                password: document.getElementById("password").value,
                            },
                            success: function(resp2){
                                console.log(resp2);
                                console.log(username);
                                alert ("YOU LOGGED IN SUCCESSFULLY");
    
                }
          });
        
        }
        
    });
    
</script>    
    
    
</html>