<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link href="CSS/Log_In.css" rel="stylesheet" type="text/css">
		<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
    </head>
<body>
    
<img id="logo" src="ASSETS/flower.png" height="100px" width="100px"><br><br>
<button id="shop">SHOP NOW!</button><br><br>

Login as Admin <br>
<input type="text" placeholder="Admin Username" id="username"><br>
<input type="text" placeholder="Admin Password" id="password"><br>
<button id="submit"> Login </button><br><br>
    
OR<br><br>

    <form action="landing.html">
        Create a new administrator profile <a href="usersignup.html">here</a>
    </form>

</body>

<script>
    $(document).ready(function(){
        
        var user_id= "";
        document.getElementById("submit").onclick = function(){
   
                        $.ajax({
                            url: "../controller/exist_user.php",
                            type: "POST",
                            dataType: "json",
                            data: {
                                method: "login_user",
                                username: document.getElementById("username").value,
                                password: document.getElementById("password").value,
                            },
                            success: function(resp2){
                                console.log(resp2);
                                console.log(resp2.username);
                                user_id = resp2[0].id;
                            
                }
          });
            
        }
        
                
        
    });
    
</script>    
    
    
</html>