<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="CSS/Sign_Up.css" rel="stylesheet" type="text/css">
	<link href="CSS/Flower2Go_Main.css" rel="stylesheet" type="text/css">
</head>    
<body>
Sign Up as a New Admin Here <br>
<input type="text" placeholder="First Name" id="firstname"><br>
<input type="text" placeholder="Last Name" id="lastname"><br>
<input type="text" placeholder="Username" id="username"><br>
<input type="text" placeholder="Email" id="email"><br>
<input type="text" placeholder="Password" id="password"><br>
     
<button id="sub">GO!</button><br></br>

    
</body>    
    
<script>
    $(document).ready(function(){
       
        document.getElementById("sub").onclick = function(){
        
            $.ajax({
               url:"../controller/users.php",
               dataType: "html",
               type: "POST",
               data:{
                   method: "post",
                   action: "add",
                   username: document.getElementById("username").value,
                   password: document.getElementById("password").value,
                   firstname: document.getElementById("firstname").value,
                   lastname: document.getElementById("lastname").value,
                   email: document.getElementById("email").value,
               },
                success: function(resp){
                    alert ("hi");
                    console.log(resp);
                }
                
            });
        
        }
        
        
    });
    
</script>  
    
</html>
